body {
	background-color: #f88379;
	font-size: 14px;
	font-family: "Open Sans", "Lucida Sans", sans-serif;
	line-height: 1em;
	font-weight: bold;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	line-height: 30px;
}

h3 {
	padding: 5px;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
}

a, a:active, a:link, a:visited {
	color: blue;
	font-size: 14px;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.container {
	width: 100%;
	height: 300px;
}

.login {
	width: 520px;
	height: 300px;
	border: 2px solid #a1a1a1;
	box-shadow: inset 0 0 5px #a1a1a1;
	border-radius: 10px;
	margin: 10% auto;
}

.form_header {
	width: 100%;
	height: 10%;
	background-color: #dedee0;
	border-bottom: 2px solid #a1a1a1;
	text-align: center;
	padding: 3% 0 0 0;
	border-radius: 10px 10px 0 0;
}

form {
	background-color: #eff0f2;
	padding: 5% 5%;
	border-radius: 0 0 10px 10px;
}

input[type="text"] {
	outline: none;
	font-size: 20px;
	width: 450px;
	font-family: caption;
	border: 4px double #dedee0;
	padding: 5px;
	margin: 5% 0 0 0;
}

input[type="text"]:focus { 
	border-radius: 5px;
	box-shadow: inset 0 0 10px #a1a1a1;
}

section {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
}

.flex-container{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	border-radius: 8px;
	margin: 0px auto;
	background-color: #79f883;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}

/*=================================
  HOME SECTION STYLES
  =================================*/
  #home {
	background: url(../images/lavenderfield.jpg) no-repeat 50% 50%;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 250px; /* This is the spacer before the Main title Logo */
	padding-bottom: 250px; /* This is spacer after the Main title Logo */
	color: #fff;
}

.form-spacer {
	padding: 30px 30px;
}

.submit {
	color: rgb(225,225,225);
	cursor: pointer;
	border: none;
	font-weight: 900;
	outline: none;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 0px 3%;
	padding: 7px 0px;
	width: 25%;
	font-size: 18px;
	transition: border-color 0.3s color 0.3s background-color 0.3s;
	border-radius: 7px;
	background-color: #797a7b;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}
